* {
    padding: 0;
    margin: 0;
}

body {
  font-family: Cantarell;
}

a {
    text-decoration: none;
}

.nav-bar {
    background-color: #212529;
    height: 60px;
    line-height: 57px;
    position: fixed;
    width: 100%;
}

.top-left {
    padding-top: 100px;
    font-size: 20px;
    margin-left: 14%;
    color: white;
    margin-right: 50%;
}

.top-right {
    color: rgba(255, 255, 255, 0.75);
    font-size: 16px;
    padding: 8px;
    filter: brightness(75%);
}

.top-right:hover {
    transition: 0.3s;
    filter: brightness(100%);
}

.blue-section {
    padding-top: 60px;
    background-color: #1874FD;
    height: 340px;
    text-align: center;
    margin-bottom: 7%;
}

.blue-section p {
    padding-top: 90px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.blue-section h3 {
    color: white;
    font-size: 20px;
    padding: 20px;
    padding-top: 15px;
    font-weight:300;
}

.blue-section input {
    width: 168px;
    height: 48px;
    font-size: 20px;
    background-color: white;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.section-name {
    margin-left: 28%;
    font-size: 200%;
    font-weight: 400;
}



.services-paragraph, .contact-paragraph {
    width: 850px;
    font-size: 20px;
    font-weight: 300;
    margin-top: 6px;
    margin-left: 28%;
    line-height: 30px;
    padding-bottom: 10px;
    margin-bottom: 16%;
}

.about-section p {
    width: 850px;
    font-size: 20px;
    font-weight: 300;
    margin-top: 6px;
    margin-left: 28%;
    line-height: 30px;
}
.about-section {
    margin-bottom: 16%;
}

.about-section p {
    padding-bottom: 20px;
}

.about-section li {
    margin-left: 30%;
    padding: 2px;
}

.services-section {
    background-color: #F8F9FA;
}

.contact-section p{
    margin-bottom: 10%;
}

.bottom {
    background-color: #212529;
    color: white;
    height: 70px;
    text-align: center;
    padding-top: 55px;
}
